:root {
  --border-rounding: 15px;
  --border-rounding-less: 10px;
  --button-color: #438efd;
  --button-color-hover: #52a1ff;
  --box-shadow: 3px 3px 6px 1px rgba(189, 189, 189, 1);
}

/* teams card */

.teams-card-container {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-rounding);
  box-shadow: var(--box-shadow);
  display: flex;
  margin: 12px 0px 15px 0px;
  align-items: center;
  z-index: 10;
}

.teams-players-container {
  display: flex;
  flex-direction: column;
}

.teams-placement {
  background-color: red;
  height: 100%;
  width: 80px;
  border-radius: var(--border-rounding);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  font-size: xx-large;
  margin-right: 12px;
}

.teams-icon {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background-color: rgb(208, 208, 208);
  border-radius: 100%;
  margin-right: 6px;
}

.teams-team-name {
  font-weight: 600;
  font-size: larger;
  width: 225px;
}
@media (max-width: 900px) {
  .teams-placement {
    min-width: 40px;
    font-size: x-large;
  }

  .teams-icon {
    margin-right: 4px;
  }
}

@media (max-width: 500px) {
  .teams-team-name {
    width: 175px;
    font-size: large;
  }
}

.teams-divider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teams-points-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 60px;
  background-color: lightgray;
  border-radius: var(--border-rounding);
}

.teams-points {
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
}

.teams-card-players-container {
  width: 100%;
  z-index: 1;
  background-color: #cbcbcb;
  border-radius: var(--border-rounding);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -40px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.teams-card-player {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.teams-card-player-image {
  height: 35px;
  width: 35px;
  border-radius: 500px;
  margin-right: 7px;
}

.teams-card-player-text {
  font-weight: 500;
}
